{% extends "index.html" %} {% block titulo %} Agregar juego {% endblock %}
{%block contenido %}

<form method="post">
  <label
    >Producto:
    <select name="producto_id">
      {% for producto in productos %}
      <option value="{{ producto['id'] }}">{{ producto['nombre'] }}</option>
      {% endfor %}
    </select>
  </label>
  <button type="submit" class="btn btn-warning">Ver EOQ</button>
</form>

<ul>
  {% for producto in productos %}
  <li>{{ producto['id'] }} {{ producto['nombre'] }}</li>
  {% endfor %}
</ul>

{% endblock %}
